/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*.php
/vendor
/.idea
/.vscode
/.phpactor.json
/.phpunit.result.cache
/.phpunit.cache
/.env
/.env.*
/.auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn-debug.log*
.pnpm-debug.log*
/.fleet
/.nova
/.zed
/.codex
/.agents